.section-about {
    margin: 0 auto;
    padding: 17rem 0 3rem;
}

.section-gallery {
    margin: 0 auto;

    &__text {
        font-size: 18rem;
        letter-spacing: 0.5rem;
        font-weight: 700;
        text-align: center;
        color: $color-grey-dark-2;

        @include respond(phone) {
            font-size: 10rem;
        }
    }
}

.section-offer {
    margin: 0 auto;
    padding-top: 10rem;

    .offer {
        &__img-box {
            width: calc(100% + 12rem);
            background-color: $color-grey-dark-2;
            text-align: center;
        }

        &__img {
            width: 60%;
        }
    }
}

.section-story {
    margin: 0 auto;
    padding-top: 20rem;
}


// .section-stories {
//     position: relative;
//     padding: 15rem 0;

//     @include respond(tab-port) {
//         padding: 10rem 0;
//     }
// }

// .section-book {
//     padding: 15rem 0;
//     background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

//     @include respond(tab-port) {
//         padding: 10rem 0;
//     }
// }

// .book {
//     background-image: linear-gradient(105deg,
//                                     rgba($color-white, .9) 0%,
//                                     rgba($color-white, .9) 50%,
//                                     transparent 50%) ,
//                             url(../img/nat-10.jpg);
//     background-size: 100%;
//     border-radius: 3px;
//     box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

//     @include respond(tab-land) {
//         background-image: linear-gradient(105deg,
//         rgba($color-white, .9) 0%,
//         rgba($color-white, .9) 65%,
//         transparent 65%) ,
// url(../img/nat-10.jpg);
//         background-size: cover;
//     }

//     @include respond(tab-port) {
//         background-image: linear-gradient(to right,
//         rgba($color-white, .9) 0%,
//         rgba($color-white, .9) 100%),
// url(../img/nat-10.jpg);
//     }

//     &__form {
//         width: 50%;
//         padding: 6rem;

//         @include respond(tab-land) {
//             width: 65%;
//         }

//         @include respond(tab-port) {
//             width: 100%;
//         }
//     }
// }